.mode-container {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}

.docs-mode {
  top: -40px;
  right: 10px;
}

.story-container {
  width: '100%';
  height: '100%';
  padding-top: '10px';
}
