.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.uploadBox {
  display: flex;
  padding: var(--spacing-l);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: var(--radius-l);
  border: var(--border-s) dashed var(--border-prominent);
  flex-direction: column;
  gap: var(--spacing-xs);
  transition: border-color 0.3s;
}

.uploadBox.dragOver {
  border-color: var(--border-prominent);
}

.uploadInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xs);
  text-align: center;
}

.limitLabel {
  color: var(--text-tertiary);
  text-align: center;
}

.warning {
  color: var(--text-brand);
  margin-top: var(--units-10);
}

.fileList {
  margin-top: var(--spacing-xs);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
  overflow: visible;
}

.fileItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
  padding: var(--spacing-xs) var(--spacing-3xs);
  border-radius: var(--radius-xs);
  background-color: var(--table-secondary-hover);
  position: relative;
}

.fileInfo {
  flex-shrink: 0;
}

.fileName {
  color: var(--link-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.removeButton {
  margin-left: auto;
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    opacity: 0.7;
  }
}

:global(.dark) .fileList {
  .removeButton {
    path {
      fill: var(--icon-on-color);
    }
  }

  .fileItem {
    background-color: var(--palette-grey-900);

    .fileInfo {
      p {
        color: var(--text-on-color);
      }
    }
  }
}
