.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  & div:nth-child(2) {
    & div {
      overflow-x: visible !important;
    }
  }

  .filterContainer {
    width: 100%;
  }

  .inlineMessage {
    path {
      fill: var(--color-blue-300);
    }
  }

  .noData {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
  }

  & .tableHead {
    & th {
      background-color: var(--color-black-50);
      color: var(--color-black-950);
      padding: 8px 12px;
      gap: 12px;
      border-bottom: 1px solid var(--color-black-950);
      text-align: right;
      width: 189.33px;
      height: 56px;
    }
  }

  & .tableBody {
    & tr {
      &:hover {
        background-color: #e4e4e740;
      }

      & td {
        padding: 8px 12px;
        border-bottom: 1px solid var(--color-black-200);
        text-align: right;
        width: 189.33px;
        height: 40px;
      }
    }
  }
}

:global(.dark) .container {
  .inlineMessage {
    path {
      fill: var(--color-blue-300);
    }
  }
}
