.container {
  overflow-y: auto;
  min-height: 100%;

  & .header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);

    @media screen and (max-width: 1100px) {
      padding-bottom: var(--spacing-2xl);
    }
  }
}

.modalButtons {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
  justify-content: end;
  margin-top: var(--spacing-s);
}
