.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-radius: var(--radius-full);
  animation: spin 1s linear infinite;
}

.primary {
  border: var(--border-l) solid var(--border-subtle);
  border-top: var(--border-l) solid var(--border-brand);
}

.secondary {
  border: var(--border-m) solid var(--icon-primary);
  border-top: var(--border-m) solid transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fullScreen {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--palette-grey-0);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
