.container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  & .title {
    margin-bottom: var(--spacing-3xs);
  }

  & .radioGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);

    & .radioItem {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .horizontal {
    flex-direction: row;
    gap: var(--spacing-s);
  }

  .radioCustom {
    margin-bottom: var(--spacing-4xs);
  }

  .radioCustom:checked {
    border-color: var(--field-brand);
  }
}
