**/___mocks__
**/.azuredevops
**/.classpath
**/.dockerignore
**/.DS_Store
**/.env
**/.env.example
**/.eslintignore
**/.eslintrc.js
**/.jest
**/.git
**/.gitignore
**/.next
**/.pnp
**/.pnp.js
**/.pnpm-debug.log*
**/.project
**/.settings
**/.toolstarget
**/*.tsbuildinfo
**/.vercel
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.pem
**/charts
**/docker-compose*
**/compose*
**/coverage
**/Dockerfile*
**/junit.xml
**/node_modules
**/npm-debug.log
**/obj
**/resources
**/secrets.dev.yaml
**/storybook-static
**/test-results.xml
**/values.dev.yaml
**/yarn-debug.log*
**/yarn-error.log*
LICENSE
README.md
