;registry=https://registry.npmjs.org/

; Required for internal npm packages
;@vzp:registry=https://pkgs.dev.azure.com/vzp/NIS/_packaging
; or globally
registry=https://pkgs.dev.azure.com/vzp/NIS/_packaging/nis/npm/registry/

always-auth=true