.userBubble {
  --user-bubble-background-color: var(--color-white);
  --header-photo-size: 36px;

  background-color: var(--user-bubble-background-color);
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow:
    0 8px 12px 0 #091e4226,
    0 0 2px 0 #091e4226;
  border-radius: 4px;
  position: absolute;
  top: 70px;
  right: 40px;
  z-index: 999;
  animation: popup 0.2s ease-in-out;
  min-width: 200px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 18px;
    background-color: var(--user-bubble-background-color);
    z-index: 5;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-width: 7px;
    border-style: solid;
    border-color: var(--user-bubble-background-color);
    box-shadow: 0 0 2px 0 #091e4226;
    transform: rotate(45deg) translateX(-50%);
    z-index: 4;
  }

  .userInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .userBubbleRow {
    padding: 8px;
    display: flex;
    align-items: center;

    &.settingsRow {
      gap: 8px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-black-100);
    }
  }

  .menu {
    list-style: none;

    .menuItem {
      padding: 8px 0;
    }
  }

  .logoutBtn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }

  .text {
    color: var(--color-black-950);
  }

  .email {
    color: var(--color-black-400);
  }

  .profileIcon {
    width: var(--header-photo-size);
    height: var(--header-photo-size);
    border-radius: 50%;
    margin-right: var(--spacing-3xs);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black-100);
  }
}

.buttonGroup {
  padding-top: var(--spacing-s);
  display: flex;
  gap: var(--spacing-3xs);
  justify-content: end;
}

:global(.dark) .userBubble {
  background-color: var(--color-black-950);
  box-shadow:
    0 8px 12px 0 rgb(123 123 132 / 0.25),
    0 0 2px 0 rgb(123 123 132 / 0.25);

  &::after {
    background-color: var(--color-black-950);
  }

  &::before {
    background-color: var(--color-black-950);
  }

  .text {
    color: var(--color-white);
  }
}

@keyframes popup {
  from {
    scale: 0.9;
  }

  to {
    scale: 1;
  }
}
