.homePage {
  height: 100%;
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  .subtitle {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4xs);
    margin-top: var(--spacing-2xs);
  }

  .dateColor {
    color: var(--color-red-500);
  }

  .applications {
    margin-top: var(--spacing-m);
  }

  .cardsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-m);
    margin-top: var(--spacing-s);
  }
}
