.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  .mainRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    width: 100%;

    @media (max-width: 500px) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .textInput {
    width: 100%;
    max-width: 256px;
  }
}
