.stepper {
  display: flex;
  align-items: center;
}

.stepItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
}

.inactiveText {
  color: var(--text-secondary);
}

.activeText {
  color: var(--text-brand);
}

.stepNumberCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--units-24);
  height: var(--units-24);
  border-radius: 50%;
  background-color: var(--table-primary);
  flex-shrink: 0;
}

.inactiveNumberText {
  color: var(--text-secondary);
  text-align: center;
}

.activeNumberText {
  color: var(--text-primary);
  text-align: center;
}

.separator {
  flex-shrink: 0;
  margin: 0 var(--spacing-3xs);
}
