.form {
  --input-width: 220px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-md);
  flex-direction: row !important;
  overflow: visible;
  align-items: center;

  & .filters {
    display: flex;
    gap: var(--spacing-s);
    flex-direction: row !important;
    overflow: visible;
    align-items: center;
  }
}

.yearSelect {
  width: var(--input-width);
}

.monthSelect {
  width: var(--input-width);
}

.searchInput {
  width: var(--input-width);
}

.toggleContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }

  .filters {
    flex-wrap: wrap;
  }

  .yearSelect,
  .monthSelect,
  .searchInput {
    width: 100%;
  }
}
