.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--button-secondary);
  color: var(--text-primary);
  border-radius: var(--radius-m);
  cursor: pointer;
  text-align: center;
  width: 261px;
  min-height: var(--spacing-3xl);
  gap: var(--units-12);

  & svg path {
    fill: var(--icon-primary);
  }

  &:hover {
    background-color: var(--button-secondary-hover);
  }

  &:focus &:not(.active) {
    outline: var(--border-m) solid var(--support-info);
    outline-offset: var(--border-m);
  }

  &:active {
    background-color: var(--button-secondary-active);
    outline: none;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.disabled:hover {
  background-color: var(--button-secondary);
}

.disabledText {
  color: var(--text-disabled);
}

.disabledIcon svg path,
.disabledIcon path {
  fill: var(--icon-disabled);
}

:global(.dark) .card svg path {
  fill: var(--palette-grey-50);
}

:global(.dark) .disabledIcon svg path,
:global(.dark) .disabledIcon path {
  fill: var(--icon-disabled);
}

:global(.dark) .disabledText {
  color: var(--text-disabled);
}
