.clientTable {
  width: 100%;
  max-width: 560px;
  overflow-x: auto;

  .bankInputWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-4xs);
  }

  tr {
    border-bottom: var(--border-s) dashed var(--border-primary);
  }

  td {
    vertical-align: top;
    word-wrap: break-word;
    white-space: normal !important;
    overflow-wrap: break-word;
  }

  td:first-child {
    width: 50%;
    padding-right: var(--spacing-m);
  }

  td:last-child {
    width: 50%;
    max-width: 250px;
  }

  td p,
  td span {
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    max-width: 100% !important;
  }
}
