.tableSettings {
  padding: 5px;
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    gap: var(--spacing-2xs);
  }

  .filterButton {
    height: 32px;
    padding: 0 12px;
    background-color: var(--color-black-50);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-black-100);
    }
  }

  .items {
    margin-bottom: 10px;
  }

  .item {
    display: flex;
    width: 100%;
    height: 32px;
    padding: 11px 8px;
    gap: 10px;
    align-items: center;
  }
}
