* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  color: var(--text-primary);
}
body.dark {
  background-color: var(--text-on-color);
}

.primary-shadow {
  box-shadow:
    0 6px 12px 0 var(--shadow-primary),
    0 0 2px 0 var(--shadow-primary);
}
