:root {
  /**
  * @tokens Font Family
  */
  --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  /**
  * @tokens Font Weights
  * @presenter FontWeight
  */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  /**
  * @tokens Typography
  * @presenter FontSize
  */
  --size-48: var(--units-48);
  --size-40: var(--units-40);
  --size-32: var(--units-32);
  --size-24: var(--units-24);
  --size-20: var(--units-20);
  --size-16: var(--units-16);
  --size-14: var(--units-14);
  --size-12: var(--units-12);
  --size-10: var(--units-10);
}

b,
i {
  font-size: inherit;
}
