.tableContainer {
  border-radius: 0.375rem;
  color: var(--color-text-primary);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader th {
  background: rgb(123 123 132 / 0.1);
  min-height: 56px;
  vertical-align: middle;
  color: var(--color-text-primary);
}

.tableBody td {
  padding: 1rem;
  border-bottom: 1px solid rgb(185 185 192 / 1);
  color: var(--color-text-primary);

  .payer {
    display: flex;
    flex-direction: column;
  }

  .agenda {
    color: var(--color-support-info);
  }
}

.tableRow[data-state='selected'] {
  background-color: rgb(0 0 0 / 0.04);
}

.emptyTableCell {
  height: 6rem; /* h-24 */
  text-align: center;
}

.skeletonTable {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xs);
}

.skeletonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-4xs);
}

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--spacing-s);

  .filterCell {
    width: 290px;
  }
}
