.container {
  overflow-y: auto;
  min-height: 100%;

  & .header {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 1100px) {
      padding-bottom: var(--spacing-2xl);
    }
  }
}

.modalButtons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
  margin-top: 24px;
}
