import { Canvas, Meta, Controls } from '@storybook/blocks';

import {{pascalCase name}}, { Default } from './{{pascalCase name}}.stories';

<Meta of={{{wrapInBraces (pascalCase name)}}} />


#### Design: <a href="https://www.figma.com" target="_blank" rel="noopener">Figma</a>

# {{pascalCase name}}

Description.

<Canvas of={Default} />

## Properties

<Controls of={Default} />

## Examples

### Default
<Canvas of={Default} />