import styles from './{{pascalCase newDomainName}}.module.css';

 const {{pascalCase newDomainName}} = () => (
  <div>
    <h1>{{newDomainName}}</h1>
  </div>
);

export default {{pascalCase newDomainName}};
