.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: var(--spacing-s);
}

.personalContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-3xs);
}

.breadcrumbs {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  margin-left: calc(-1 * var(--spacing-3xs));
}

.name {
  align-self: flex-start;
  margin-top: var(--spacing-3xs);
  margin-bottom: var(--spacing-4xs);
}

.securityNum {
  align-self: flex-start;
}

.badgesSection {
  display: flex;
  align-items: center;
  align-self: center;
}

.actionsContainer {
  display: flex;
  align-self: center;
  margin-left: auto;
}

@media (max-width: 850px) {
  .content {
    flex-direction: column;
  }

  .badgesSection {
    align-self: flex-start;
    width: 100%;
  }

  .actionsContainer {
    margin-left: 0;
    align-self: flex-start;
    width: 100%;
    margin-top: var(--spacing-m);
  }
}

:global(.dark) .container {
  .name {
    color: var(--color-white);
  }

  .securityNum {
    color: var(--color-white);
  }
}
