.kdpModalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .list {
    padding-left: 20px;
    margin-bottom: 16px;
  }

  .bottomContent {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .closeBtn {
    width: 300px;
  }
}
