.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.borders {
  border-top: var(--border-s) dashed var(--border-subtle);
  border-bottom: var(--border-s) dashed var(--border-subtle);
}

.buttonGroup {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: var(--spacing-2xs);
}
