.checkbox {
  --checkbox-mark: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.71402 2.30066C1.62206 2.20534 1.51205 2.12931 1.39042 2.07701C1.26879 2.0247 1.13797 1.99717 1.0056 1.99602C0.873227 1.99487 0.741951 2.02012 0.619431 2.0703C0.496911 2.12048 0.385602 2.19458 0.291996 2.28829C0.198391 2.38199 0.124366 2.49342 0.0742387 2.61607C0.0241118 2.73872 -0.00111264 2.87013 3.76407e-05 3.00265C0.00118792 3.13516 0.0286892 3.26612 0.0809377 3.38787C0.133186 3.50963 0.209136 3.61976 0.304353 3.71182L2.29823 5.7078C2.48518 5.8949 2.73871 6 3.00306 6C3.26741 6 3.52094 5.8949 3.7079 5.7078L7.69565 1.71584C7.79086 1.62377 7.86681 1.51365 7.91906 1.39189C7.97131 1.27013 7.99881 1.13918 7.99996 1.00666C8.00111 0.874151 7.97589 0.742736 7.92576 0.620087C7.87563 0.497437 7.80161 0.38601 7.708 0.292306C7.6144 0.198602 7.50309 0.124498 7.38057 0.0743177C7.25805 0.0241378 7.12677 -0.00111382 6.9944 3.76799e-05C6.86203 0.00118918 6.73121 0.0287201 6.60958 0.0810238C6.48795 0.133328 6.37794 0.209357 6.28598 0.304676L3.00306 3.59106L1.71402 2.30066Z' fill='white'/%3E%3C/svg%3E%0A");
  --checkbox-disabled-mark: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.71402 2.30066C1.62206 2.20534 1.51205 2.12931 1.39042 2.07701C1.26879 2.0247 1.13797 1.99717 1.0056 1.99602C0.873227 1.99487 0.741951 2.02012 0.619431 2.0703C0.496911 2.12048 0.385602 2.19458 0.291996 2.28829C0.198391 2.38199 0.124366 2.49342 0.0742387 2.61607C0.0241118 2.73872 -0.00111264 2.87013 3.76407e-05 3.00265C0.00118792 3.13516 0.0286892 3.26612 0.0809377 3.38787C0.133186 3.50963 0.209136 3.61976 0.304353 3.71182L2.29823 5.7078C2.48518 5.8949 2.73871 6 3.00306 6C3.26741 6 3.52094 5.8949 3.7079 5.7078L7.69565 1.71584C7.79086 1.62377 7.86681 1.51365 7.91906 1.39189C7.97131 1.27013 7.99881 1.13918 7.99996 1.00666C8.00111 0.874151 7.97589 0.742736 7.92576 0.620087C7.87563 0.497437 7.80161 0.38601 7.708 0.292306C7.6144 0.198602 7.50309 0.124498 7.38057 0.0743177C7.25805 0.0241378 7.12677 -0.00111382 6.9944 3.76799e-05C6.86203 0.00118918 6.73121 0.0287201 6.60958 0.0810238C6.48795 0.133328 6.37794 0.209357 6.28598 0.304676L3.00306 3.59106L1.71402 2.30066Z' fill='%23B9B9C0'/%3E%3C/svg%3E%0A");
  --checkbox-multiselect-mark: url("data:image/svg+xml,%3Csvg width='8' height='2' viewBox='0 0 8 2' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='8' height='2' fill='white'/%3E%3C/svg%3E");
  --checkbox-disabled-multiselect-mark: url("data:image/svg+xml,%3Csvg width='8' height='2' viewBox='0 0 8 2' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='8' height='2' fill='%23B9B9C0'/%3E%3C/svg%3E");

  appearance: none;
  cursor: pointer;
  position: relative;
  border: var(--border-s) solid var(--border-primary);
  border-radius: var(--radius-xs);
  background: none;
  height: var(--units-16);
  width: var(--units-16);

  &:disabled {
    cursor: not-allowed;
    background-color: var(--field-disabled);
    border: var(--border-s) solid var(--border-primary);

    &:active {
      border-color: var(--border-brand);
    }

    &:checked {
      background-color: var(--field-disabled);
      border: var(--border-s) solid var(--field-disabled);

      &::before {
        background-image: var(--checkbox-disabled-mark);
      }
    }
  }

  &:checked {
    background-color: var(--field-brand);
    border: none;

    &:hover {
      background-color: var(--field-brand-hover);
    }

    &:active {
      border-color: var(--field-brand-active);
      background-color: var(--field-brand-active);
    }

    &:disabled {
      background-color: var(--field-disabled);
      border: var(--border-s) solid var(--border-primary);
    }

    &::before {
      content: '';
      position: absolute;
      background-image: var(--checkbox-mark);
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    border-color: var(--border-primary);
    background-color: var(--field-primary-hover);
  }

  &:active {
    border-color: var(--border-primary);
    background-color: var(--field-primary-active);
  }

  &:focus {
    outline: var(--border-m) solid var(--support-info);
    outline-offset: var(--border-m);
  }

  &.error {
    border-color: var(--border-error);
    animation: shake 0.3s;
  }

  &.multiselect {
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-image: var(--checkbox-multiselect-mark) !important;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--field-disabled);
      border: var(--border-s) solid var(--border-primary);

      &:active {
        border-color: var(--border-brand);
      }

      &:checked {
        background-color: var(--field-disabled);
        border: var(--border-s) solid var(--border-primary);

        &::before {
          background-image: var(--checkbox-disabled-multiselect-mark) !important;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(4px);
  }

  60% {
    transform: translateX(-4px);
  }

  80% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0);
  }
}

:global(.dark) .checkbox {
  &:disabled {
    background-color: var(--palette-grey-950);
    opacity: 0.8;
  }
}
