.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2xs);
  padding: var(--spacing-xs) 0;
}

.referenceNumberWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4xs);
}
