.tabsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabPendingApprovals {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
  color: inherit;
}

.tabIcon {
  width: var(--spacing-s);
  height: var(--spacing-s);
}

.text {
  white-space: nowrap;
}

.toggleContainer {
  display: flex;
  align-items: center;
  height: var(--spacing-l);
  gap: var(--spacing-3xs);
  margin-left: auto;
  padding-right: var(--spacing-3xs);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--units-32);
}
