.container {
  position: relative;
  width: 100%;

  .input {
    width: 100%;
  }

  .dropdownList {
    max-height: calc(var(--spacing-3xl) * 2);
    overflow-y: auto;
    border: var(--spacing-5xs) solid var(--palette-grey-200);
    background: var(--palette-grey-50);
    box-shadow: 0 var(--spacing-5xs) var(--spacing-3xs) var(--palette-alpha-100);
    border-radius: var(--spacing-4xs);
    position: absolute;
    width: 100%;
    margin-top: var(--spacing-4xs);
    z-index: 50;
  }

  .emptyResult {
    padding: var(--spacing-3xs);
    font-size: var(--size-14);
    color: var(--palette-grey-100);
  }

  .dropdownItem {
    cursor: pointer;
    padding: var(--spacing-3xs) var(--spacing-2xs);
    font-size: var(--size-14);
  }

  .dropdownItem:hover {
    background-color: var(--palette-alpha-50);
  }
}

:global(.dark) .container {
  .dropdownList {
    background: var(--palette-grey-950);
    border-color: var(--palette-grey-800);
  }

  .emptyResult {
    color: var(--palette-grey-900);
  }

  .dropdownItem {
    color: var(--palette-grey-0);
  }

  .dropdownItem:hover {
    background-color: var(--palette-alpha-600);
  }

  .dropdownList::-webkit-scrollbar {
    background-color: var(--palette-grey-950);
  }

  .dropdownList::-webkit-scrollbar-thumb {
    background: var(--palette-grey-600);
  }

  .dropdownList::-webkit-scrollbar-thumb:hover {
    background: var(--palette-grey-500);
  }
}
