.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);

  & .paymentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);

    & .rowContainer {
      display: flex;
      gap: var(--spacing-s);
      align-items: center;

      .paymentCell {
        min-width: 170px;
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      .firstCell {
        margin-bottom: var(--spacing-xs);
      }

      & .icon {
        display: flex;
        align-items: center;
        height: var(--units-40);
        margin-bottom: var(--spacing-xs);

        &.first {
          margin-bottom: 0;
        }

        & svg {
          cursor: pointer;
        }
      }
    }
  }
}
