.primaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2xs);
  padding: var(--spacing-xs) var(--spacing-2xs);
  background: var(--table-primary);
  color: var(--palette-grey-1000);
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2xs);
  padding: var(--spacing-xs) 0;
}
