.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-black-100);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-white);
  margin-left: -4px;
}

.avatarsCounter {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-white);
  margin-left: -4px;
}

.responsibleUsers {
  font-size: 14px;
  text-decoration: underline dotted;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
