.modalOverlay {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-scrim);
  animation: fade-in 0.3s;
  padding: var(--spacing-l);
  z-index: 1000;

  .modalWrapper {
    width: 100%;
    max-height: calc(100vh - 2 * var(--spacing-l));
    overflow: visible;
    margin-top: var(--spacing-l);

    &.small {
      max-width: 480px;
    }

    &.medium {
      max-width: 600px;
    }

    &.large {
      max-width: 752px;
    }

    &.xlarge {
      max-width: 968px;
    }

    .modal {
      background: var(--background-elevated);
      height: 100%;
      min-height: 172px;
      width: 100%;
      border-radius: var(--radius-xs);
      padding: var(--spacing-m);
      position: relative;
      overflow: visible;

      .modalTitle {
        text-align: left;
        margin-bottom: var(--spacing-m);

        &:has(+ .close) {
          padding-right: var(--units-24);
        }

        &:has(+ .modalSubtitle) {
          margin-bottom: var(--spacing-4xs);
        }

        &:has(+ .modalDescription) {
          margin-bottom: var(--spacing-4xs);
        }
      }

      .modalSubtitle {
        margin-bottom: var(--spacing-xs);
        display: block;
      }

      .modalDescription {
        margin-bottom: var(--spacing-m);
        display: block;
      }

      .close {
        position: absolute;
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        top: calc(var(--spacing-m) + var(--units-4));
        right: var(--spacing-m);
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:global(.dark) .modalOverlay {
  svg path {
    fill: var(--color-white);
  }

  b {
    color: var(--color-white);
  }

  li::marker {
    color: var(--color-white);
  }

  .modal {
    background-color: var(--color-black-950);
  }
}
