.darkmodeToggle {
  width: 76px;
  padding: var(--spacing-4xs);
  gap: var(--spacing-4xs);
  border-radius: var(--radius-s);
  background-color: var(--background-panel);
  display: flex;
  position: relative;
  justify-content: space-between;
}

.toggleButton {
  height: var(--units-32);
  width: var(--units-32);
  border: none;
  cursor: pointer;
  border-radius: var(--radius-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 1;

  & span {
    display: flex;
    align-items: center;
  }

  &:not(.active) {
    &:hover {
      background-color: var(--button-ghost-hover);
    }

    &:active {
      background-color: var(--button-ghost-active);
    }
  }
}

.animatedSquare {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--units-32);
  height: var(--units-32);
  background-color: var(--background-brand);
  border-radius: var(--radius-xs);
  transition: transform 0.3s ease;
  z-index: 0;
}

.lightPosition {
  transform: translateX(0) translateY(-50%);
}

.darkPosition {
  transform: translateX(calc(var(--units-32) + var(--units-4))) translateY(-50%);
}

:global(.dark) .darkmodeToggle {
  color: var(--text-on-color);
}
