.adminProcessDetailContainer {
  display: flex;
  padding: var(--spacing-m);
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
  justify-content: space-between;
  min-height: 500px;
}

.formContainer {
  display: flex;
  padding-top: var(--spacing-m);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);
  flex: 1 0 0;
}

.formTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-3xs);
  align-self: stretch;
}

.formBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);
  align-self: stretch;
}

.formFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-m);
  align-self: stretch;
  justify-content: flex-end;
}

.stepperContainer {
  display: flex;
  width: 360px;
  padding-top: var(--spacing-m);
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.dividerContainer {
  display: flex;
  align-self: stretch;
  height: auto;
  margin: 0 16px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 24px;
}

.formBlockHeader {
  display: flex;
  height: 48px;
  padding: 114px 16px;
  align-items: center;
  align-self: stretch;
  background-color: var(--color-black-50);
}

.formBlockDetails {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.formBlockDetails ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.formBlockDetails li {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid var(--color-black-100);
  width: 100%;
}

.formBlockDetails li:last-child {
  border-bottom: none;
}

.formBlockDetails li > :first-child {
  flex: 0 0 250px;
  color: var(--color-black-500);
}

.formBlockDetails li > :last-child {
  flex: 1;
}

.proceedButton {
  border-radius: var(--radius-xs);
  background: var(--button-primary);
  color: white;
  padding: 8px 16px;
  font-weight: 500;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.proceedButton:hover {
  background: var(--button-primary-hover);
}

.proceedButton:active {
  background: var(--button-primary-active);
}

.relativeContainer {
  position: relative;
}

.messageOverlay {
  width: 324px;
  height: 658px;
  position: absolute;
  border-radius: var(--radius-m);
  border: 1px solid var(--palette-orange-200, #fecba8);
  background: var(--palette-orange-50, #fff3eb);
  z-index: 10;
  top: 140px;
  right: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.messageHeader {
  margin-bottom: 16px;
  color: var(--palette-orange-1000);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.messageBody {
  flex: 1;
  color: var(--palette-orange-1000);
  align-self: stretch;
}

.casePreparationNote {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.noteTextArea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 14px;
}
