.container {
  padding: 0 var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-m);
  margin-top: var(--spacing-s);
}
