.container {
  display: flex;
  width: 100%;
  max-width: 629px;
  padding: var(--spacing-2xs) 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2xs);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xs);
  width: 100%;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
}

.optionalText {
  color: var(--text-tertiary);
}
