.dark {
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Green Palette */
  --palette-green-50: #e2f3e6;
  --palette-green-100: #cdf4d8;
  --palette-green-200: #97e8ae;
  --palette-green-300: #65dd87;
  --palette-green-400: #34d160;
  --palette-green-500: #24a148;
  --palette-green-600: #1c7d37;
  --palette-green-700: #197132;
  --palette-green-800: #145826;
  --palette-green-900: #0d3f1c;
  --palette-green-950: #0b2d14;
  --palette-green-1000: #0e2614;
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Blue Palette */
  --palette-blue-50: #e5eeff;
  --palette-blue-100: #dbe7ff;
  --palette-blue-150: #c7daff;
  --palette-blue-200: #9ec0ff;
  --palette-blue-300: #72a2fe;
  --palette-blue-400: #3e81fe;
  --palette-blue-500: #0f62fe;
  --palette-blue-600: #024bd5;
  --palette-blue-700: #0139a3;
  --palette-blue-750: #013089;
  --palette-blue-800: #00266b;
  --palette-blue-900: #0e2247;
  --palette-blue-950: #000919;
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Red Palette */
  --palette-red-50: #fde6e2;
  --palette-red-100: #fad3ca;
  --palette-red-200: #fbc9c1;
  --palette-red-300: #f3745d;
  --palette-red-400: #f04829;
  --palette-red-500: #d22d0f;
  --palette-red-600: #b0240d;
  --palette-red-700: #8f1d0b;
  --palette-red-800: #721807;
  --palette-red-900: #511106;
  --palette-red-950: #3e0d04;
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Grey Palette */
  --palette-grey-0: #ffffff;
  --palette-grey-50: #f7f7f8;
  --palette-grey-100: #e4e4e7;
  --palette-grey-200: #d4d4d8;
  --palette-grey-300: #b9b9c0;
  --palette-grey-400: #9f9fa8;
  --palette-grey-500: #70707b;
  --palette-grey-600: #686873;
  --palette-grey-700: #505058;
  --palette-grey-800: #35353a;
  --palette-grey-850: #242428;
  --palette-grey-900: #19191a;
  --palette-grey-950: #0f0f10;
  --palette-grey-1000: #000000;
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Orange Palette */
  --palette-orange-50: #fff3eb;
  --palette-orange-100: #ffe7d6;
  --palette-orange-200: #fecba8;
  --palette-orange-300: #ffb580;
  --palette-orange-400: #ff9d57;
  --palette-orange-500: #ff832c;
  --palette-orange-600: #ff6d05;
  --palette-orange-700: #c75300;
  --palette-orange-800: #b34a02;
  --palette-orange-900: #8f3c00;
  --palette-orange-950: #662b00;
  --palette-orange-975: #522300;
  --palette-orange-1000: #3d1a00;
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Alpha Palette */
  --palette-alpha-0: #7b7b8400;
  --palette-alpha-50: #7b7b840d;
  --palette-alpha-100: #7b7b841a;
  --palette-alpha-200: #7b7b8426;
  --palette-alpha-300: #7b7b8440;
  --palette-alpha-400: #7b7b844d;
  --palette-alpha-500: #7b7b8459;
  --palette-alpha-600: #7b7b8466;
  --palette-alpha-950: #00000099;
  /**
  * @tokens Colors
  * @presenter Color
  */
  /* Yellow Palette */
  --palette-yellow-1000: #ffff00;

  /* Backgrounds */
  --background-base: var(--palette-grey-950);
  --background-sunken: var(--palette-grey-1000);
  --background-elevated: var(--palette-grey-900);
  --background-brand: var(--palette-red-400);
  --background-panel: var(--palette-alpha-200);
  --background-scrim: var(--palette-alpha-950);
  --background-inverse: var(--palette-grey-100);
  --background-perma-light: var(--palette-grey-0);

  /* Borders */
  --border-primary: var(--palette-grey-700);
  --border-error: var(--palette-red-300);
  --border-brand: var(--palette-red-400);
  --border-neutral: var(--palette-grey-950);
  --border-subtle: var(--palette-grey-850);
  --border-prominent: var(--palette-grey-500);

  /* Fields */
  --field-primary: var(--palette-grey-950);
  --field-primary-hover: var(--palette-grey-900);
  --field-primary-active: var(--palette-grey-850);
  --field-disabled: var(--palette-grey-900);
  --field-brand: var(--palette-red-400);
  --field-brand-hover: var(--palette-red-500);
  --field-brand-active: var(--palette-red-600);

  /* Buttons */
  --button-primary: var(--palette-red-500);
  --button-primary-hover: var(--palette-red-600);
  --button-primary-active: var(--palette-red-700);
  --button-secondary: var(--palette-alpha-300);
  --button-secondary-hover: var(--palette-alpha-400);
  --button-secondary-active: var(--palette-alpha-500);
  --button-ghost: var(--palette-alpha-0);
  --button-ghost-hover: var(--palette-alpha-50);
  --button-ghost-active: var(--palette-alpha-100);
  --button-disabled: var(--palette-alpha-100);
  --button-on-color: var(--palette-grey-0);
  --button-on-color-hover: var(--palette-grey-50);
  --button-on-color-active: var(--palette-grey-100);
  --button-ghost-on-perma-light: var(--palette-alpha-0);
  --button-ghost-on-perma-light-hover: var(--palette-alpha-50);
  --button-ghost-on-perma-light-active: var(--palette-alpha-100);

  /* Tables */
  --table-secondary: var(--palette-alpha-0);
  --table-secondary-hover: var(--palette-alpha-100);
  --table-primary: var(--palette-alpha-100);
  --table-primary-hover: var(--palette-alpha-200);

  /* Shadows */
  --shadow-primary: var(--palette-alpha-950);

  /* Text */
  --text-primary: var(--palette-grey-0);
  --text-secondary: var(--palette-grey-200);
  --text-tertiary: var(--palette-grey-500);
  --text-on-color: var(--palette-grey-0);
  --text-brand: var(--palette-red-400);
  --text-disabled: var(--palette-grey-700);
  --text-inverse: var(--palette-grey-900);
  --text-perma-dark: var(--palette-grey-950);
  --text-warning: var(--palette-orange-600);
  --text-positive: var(--palette-green-500);
  --text-negative: var(--palette-red-300);
  --text-info: var(--palette-blue-400);
  --text-on-positive-subtle: var(--palette-green-200);
  --text-on-negative-subtle: var(--palette-red-200);
  --text-on-info-subtle: var(--palette-blue-150);
  --text-on-warning-subtle: var(--palette-orange-200);
  --text-highlight-default: var(--palette-red-100);
  --text-highlight-selected: var(--palette-yellow-1000);

  /* Links */
  --link-primary: var(--palette-red-400);
  --link-primary-hover: var(--palette-red-300);
  --link-primary-active: var(--palette-red-200);
  --link-primary-visit: var(--palette-red-200);
  --link-on-color: var(--palette-grey-0);

  /* Icons */
  --icon-brand: var(--palette-red-400);
  --icon-primary: var(--palette-grey-50);
  --icon-secondary: var(--palette-grey-600);
  --icon-disabled: var(--palette-grey-700);
  --icon-on-color: var(--palette-grey-0);
  --icon-inverse: var(--palette-grey-900);
  --icon-perma-dark: var(--palette-grey-950);
  --icon-positive: var(--palette-green-500);
  --icon-info: var(--palette-blue-400);
  --icon-warning: var(--palette-orange-600);
  --icon-negative: var(--palette-red-300);
  --icon-on-info-subtle: var(--palette-blue-150);
  --icon-on-warning-subtle: var(--palette-orange-200);
  --icon-on-positive-subtle: var(--palette-green-200);
  --icon-on-negative-subtle: var(--palette-red-200);

  /* Support Colors */
  --support-primary: var(--palette-red-500);
  --support-primary-hover: var(--palette-red-600);
  --support-primary-active: var(--palette-red-700);
  --support-positive: var(--palette-green-600);
  --support-positive-hover: var(--palette-green-700);
  --support-positive-active: var(--palette-green-800);
  --support-positive-subtle: var(--palette-green-1000);
  --support-positive-subtle-hover: var(--palette-green-950);
  --support-positive-subtle-active: var(--palette-green-900);
  --support-negative: var(--palette-red-300);
  --support-negative-hover: var(--palette-red-400);
  --support-negative-active: var(--palette-red-500);
  --support-negative-subtle: var(--palette-red-950);
  --support-negative-subtle-hover: var(--palette-red-900);
  --support-negative-subtle-active: var(--palette-red-800);
  --support-info: var(--palette-blue-500);
  --support-info-hover: var(--palette-blue-600);
  --support-info-active: var(--palette-blue-700);
  --support-info-subtle: var(--palette-blue-900);
  --support-info-subtle-hover: var(--palette-blue-800);
  --support-info-subtle-active: var(--palette-blue-750);
  --support-warning: var(--palette-orange-700);
  --support-warning-hover: var(--palette-orange-800);
  --support-warning-active: var(--palette-orange-900);
  --support-warning-subtle: var(--palette-orange-1000);
  --support-warning-subtle-hover: var(--palette-orange-975);
  --support-warning-subtle-active: var(--palette-orange-950);
  --support-highlight-default: var(--palette-red-100);
  --support-highlight-selected: var(--palette-yellow-1000);
}
