.resultHeaderContainer {
  padding: 0 var(--spacing-m) var(--spacing-m) var(--spacing-m);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-s);
  padding: var(--spacing-m);
}

.continueButton {
  align-self: flex-start;
}

.textareaField {
  max-width: 690px;
  width: 100%;
}

.padding {
  padding: 0 !important;
}
