.navLink {
  height: var(--units-40);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: var(--radius-xs);
  font-size: var(--size-14);
  padding: var(--spacing-2xs);
  background-color: var(--button-ghost);

  & > :global(svg) {
    margin-right: var(--units-12);
    fill: var(--icon-primary);
  }

  &:hover {
    background-color: var(--button-ghost-hover);
  }

  &.active {
    color: var(--text-primary);
    background-color: var(--button-secondary);

    & > :global(svg path) {
      fill: var(--icon-primary);
    }
  }

  &:focus-visible {
    outline: solid var(--border-m) var(--support-info);
    outline-offset: var(--units-2);
  }

  &:active {
    background-color: var(--button-secondary-active) !important;
  }
}

:global(.dark) .navLink {
  span {
    color: var(--text-primary);
  }
}
