.modalContent {
  display: flex;
  flex-direction: column;
  height: 793px;

  .modalHeader {
    max-height: 96px;
    padding-bottom: var(--spacing-xs);
    gap: var(--spacing-3xs);
  }

  .modalContent {
    max-height: 717px;
    gap: var(--spacing-m);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .modalContentMain {
    padding-right: var(--spacing-xs);
  }

  .modalCauseHeader {
    height: var(--spacing-xl);
    background-color: var(--table-primary);
    border-radius: var(--radius-s);
    padding: var(--spacing-2xs);
  }

  .modalCauseContent {
    padding-inline: var(--spacing-3xs);
  }

  .formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: var(--spacing-2xl);
    padding: var(--units-10);

    .inputContainer {
      width: 306px;

      textarea {
        height: 80px;
        box-sizing: border-box;
      }
    }

    .labelContainer {
      display: flex;
      flex-direction: column;
    }
  }

  .descriptionRow {
    align-items: start;

    .labelContainer {
      margin-top: var(--spacing-xs);
    }
  }

  .buttonGroup {
    display: flex;
    gap: var(--spacing-2xs);
    justify-content: end;
  }

  .modalFooter {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .modalFooterContent {
    width: auto;
    display: flex;
    gap: var(--spacing-2xs);
    margin-left: auto;
  }
}

.uploadedFilesContainer {
  margin-bottom: var(--spacing-2xs);
}

.fileItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: var(--spacing-2xs);
  margin-bottom: var(--spacing-4xs);
  background-color: var(--table-primary);
  border-radius: var(--spacing-4xs);
}

.fileInfo {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
}

.hiddenInput {
  display: none;
}

.uploadButton {
  width: 153px;
  height: var(--spacing-l);
}

.uploadButtonContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-3xs);
  padding: var(--spacing-2xs);
}

.radioGroupContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: var(--spacing-3xs);
  width: 100%;

  & > div {
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  & .radioItem {
    justify-content: flex-start !important;
  }
}

.modalConfirmContent {
  padding-bottom: var(--spacing-xs);
}

.modalConfirmButtons {
  display: flex;
  gap: var(--spacing-2xs);
  margin-top: var(--spacing-2xs);
  justify-content: flex-end;
}

.datePickerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--spacing-xs);

  & .dateInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--spacing-4xs);
  }
}

.inputField {
  width: 306px;
}

.fileDetails {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-3xs);
}

.fileName {
  color: var(--link-primary) !important;
}

.fileSize {
  margin-top: var(--spacing-5xs);
}

.uploadError {
  margin-top: var(--spacing-3xs);
  display: block;
}

.uploadHint {
  margin-top: var(--spacing-3xs);
  display: block;
}

.fileUploadDropzone {
  border: var(--units-1) dashed var(--border-prominent);
  border-radius: var(--radius-l);
  padding-inline: var(--spacing-l);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileUploadButton {
  min-width: var(--units-128);
  min-height: var(--units-40);
  margin-bottom: var(--spacing-s);
}

.fileUploadHelpText {
  text-align: center;
}

.uploadedFilesScrollContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xs);
  max-height: 240px;
  overflow-y: auto;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.fileItemWide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 56px;
  padding: var(--spacing-2xs);
  margin-bottom: var(--spacing-4xs);
  background-color: var(--table-primary);
  border-radius: var(--spacing-4xs);
  width: 100%;
  box-sizing: border-box;
}

.basicInfoTitle {
  padding-bottom: var(--spacing-m);
}

.attachmentsHeader {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-3xs);
  height: var(--spacing-m);
  width: 100%;
  align-items: center;
  padding-bottom: var(--spacing-s);
  padding-top: var(--spacing-xl);
}

.notRequiredText {
  padding-left: var(--spacing-3xs);
  color: var(--text-tertiary) !important;
}

.priceValueText {
  display: flex;
  flex-direction: column;
  width: 100%;
}
