.radioGroupSection {
  padding: 0 var(--spacing-2xs);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-s);

  & .radioGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
  }
}
