.penaltyCalculationForm {
  footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--units-16) 0;

    div {
      display: flex;
      align-items: center;
      gap: var(--spacing-3xs);
    }
  }
}

.overviewTable,
.calculationTable {
  width: 100%;
  border: none;
  border-collapse: collapse;

  th {
    background-color: var(--palette-alpha-100);
    height: 40px;
    padding: 0 12px;
    text-align: left;

    &:first-child {
      width: 50%;
    }
  }

  td {
    color: var(--text-primary);
    padding: 5px 12px;
    border: solid var(--border-primary);
    border-width: var(--border-s) 0;
  }

  tr.summaryRow {
    td {
      color: var(--text-primary);
      border-bottom: solid var(--border-primary);
      border-width: 1px 0;
    }
  }
}

.calculationTable {
  margin-top: var(--units-32);

  thead {
    th {
      &:first-child {
        width: 72%;
        padding: 5px var(--units-12);
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          width: 42px;
          height: 57px;
        }
      }
    }
  }
}
